*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}


body{
background:#0f172a;
color:white;
padding-bottom:90px;
}


/* HEADER */

.hero{

text-align:center;
padding:35px 20px;

background:linear-gradient(135deg,#2563eb,#7c3aed);

border-radius:0 0 30px 30px;

}


.logo{

font-size:30px;
font-weight:700;

}


.logo span{

color:#facc15;

}


.hero h1{

margin-top:20px;
font-size:30px;

}


.hero p{

margin:10px 0 20px;
color:#e2e8f0;

}



/* SEARCH */

.search input{

width:90%;
max-width:450px;

padding:15px;

border:none;

border-radius:30px;

outline:none;

margin-bottom:20px;

font-size:15px;

}



/* BUTTON */

button{

background:#facc15;

color:#111827;

border:none;

padding:12px 25px;

border-radius:25px;

font-weight:bold;

cursor:pointer;

}


button:hover{

transform:scale(1.05);

}



/* CONTAINER */

.container{

width:90%;
max-width:1000px;

margin:30px auto;

}


section{

margin-bottom:35px;

}


h2{

margin-bottom:20px;

}



/* CATEGORIES */

.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(140px,1fr));

gap:15px;

}


.card{

background:#1e293b;

padding:25px 10px;

border-radius:18px;

text-align:center;

font-weight:600;

}



/* QUIZ LIST */

.quiz-list{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}


.quiz-card{

background:#1e293b;

padding:20px;

border-radius:20px;

}


.quiz-card p{

color:#94a3b8;

margin:10px 0 20px;

}



/* QUIZ BOX */

.quiz-box{

background:#1e293b;

padding:25px;

border-radius:20px;

}


#answers button{

display:block;

width:100%;

margin:10px 0;

background:#2563eb;

color:white;

}



#answers button:hover{

background:#7c3aed;

}



#nextBtn{

margin-top:15px;

}



/* RESULT */

.result-box{

background:#1e293b;

padding:25px;

border-radius:20px;

text-align:center;

}



/* RANKING */

.ranking{

background:#1e293b;

padding:20px 35px;

border-radius:20px;

}


.ranking li{

padding:12px;

border-bottom:1px solid #334155;

}



/* BOTTOM NAV */

.bottom-nav{

position:fixed;

bottom:0;

left:0;

width:100%;

background:#111827;

display:flex;

justify-content:space-around;

padding:12px;

border-top:1px solid #334155;

}


.bottom-nav a{

color:#94a3b8;

text-decoration:none;

text-align:center;

font-size:13px;

}


.bottom-nav span{

display:block;

}


.bottom-nav .active{

color:#facc15;

}



/* MOBILE */

@media(max-width:600px){

.hero h1{

font-size:24px;

}


.logo{

font-size:25px;

}

}
